button {
    color: lightcyan;
    border-radius: 50px;
    background: #285982;
    box-shadow: inset 4px 4px 8px #21496b, 
                inset -4px -4px 8px #2f6999;
}

body {
    background-position: inherit;
    background-size: cover;
    background-image: url("HP3.png");
    background-repeat: no-repeat;
    text-align: center;
    background-color: #171920;
}

label {
    color: lightcyan;
}